<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script>
    let person = {
      name: 'Tom',
      age: 18
    }
    let p = new Proxy(person, {
      set(target, propName, value) {
        console.log(`${propName}被修改了，去更新页面了`)
        // target[propName] = value
        Reflect.set(target, propName, value)
      }
    })
    p.name = 'Jack'

    let name = p.name
    name = 'Jack' // 此时只是 name 改变，不能响应式
  </script>
</body>
</html>