<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>数据检测总结</title>
  <script src="../js/vue.js"></script>
</head>
<body>
  <div id="app">
    <h1>学生信息</h1>
    <button @click="stu.age++">年龄+1岁</button><br/><br/>
    <button @click="addSex">添加性别属性，默认值：男</button><br/><br/>
    <button @click="stu.sex = '未知'">修改性别属性</button><br/><br/>
    <button @click="addFriend">在列表首位添加一个朋友</button><br/><br/>
    <button @click="stu.friends[0].name = '张三'">修改第一个朋友的名字为：张三</button><br/><br/>
    <button @click="stu.hobby.push('学习')">添加一个爱好</button><br/><br/>
    <button @click="updateHobby">修改第一个爱好为开车</button><br/><br/>
    <button @click="removeHobby">移除rap爱好</button></button><br/><br/>
    <h2>姓名：{{stu.name}}</h2>
    <h2>年龄：{{stu.age}}</h2>
    <h2 v-if="stu.sex">性别：{{stu.sex}}</h2>
    <h2>爱好</h2>
    <ul>
      <li v-for="(h, _h) in stu.hobby" :key="_h">{{ h }}</li>
    </ul>
    <h2>朋友</h2>
    <ul>
      <li v-for="(f, _f) in stu.friends" :key="_f">{{ f.name }} -- {{ f.age }}</li>
    </ul>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        stu: {
          name: '9ml',
          age: 18,
          hobby: ['唱', '跳', 'rap', '篮球'],
          friends: [
            { name: 'Tom', age: 22 }, { name: 'Tony', age: 32 }
          ]
        }
      },
      methods: {
        addSex() {
          Vue.set(this.stu, 'sex', '男')
          this.$set(this.stu, 'sex', '男')
        },
        addFriend() {
          this.stu.friends.unshift({name: 'Jack', age: 70})
        },
        updateHobby() {
          // this.$set(this.stu.hobby, 0, '开车')
          // Vue.set(this.stu.hobby, 0, '开车')
          this.stu.hobby.splice(0, 1, '开车')
        },
        removeHobby() {
          this.stu.hobby = this.stu.hobby.filter(i => i !== 'rap')
        }
      }
    })
  </script>
</body>
</html>